html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
        /* sta sotto tutti gli altri elementi  */
}

i {
    padding: 10px
}

#contenitore-navBar {
    display: flex;
    flex-direction: row;
    background-color: #d6cbc1;
    height: 10%;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    /* fisso in cima */
    top: 0;
    left: 0;
    z-index: 10;
    /* sopra il video e sotto eventuali popup */
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 80px;
    padding: 20px;
}

li,
a {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

#mainContent {
    padding-top: 10%;
    /* do spazio alla navbar */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#contenutoDashBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cardPersonalizza {
    margin-top: 60px;
    background-color: #d6cbc1;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.cardPersonalizza:hover {
    transform: scale(1.02);
}

#logout:hover {
    color: #ff4500;
    cursor: pointer;
}

#eliminaForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

label,
input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

#contenitore-modificaPrenotazione {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #d6cbc1;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    /* spazio tra box e card */
}

#formPrenotazione {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contenitoreEliminaPrenotazione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 20px auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #d6cbc1;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s ease;
    margin-bottom: 20px;
    /* spazio tra box e card */
    gap: 20px;
}

h2 {
    font-weight: lighter
}

#contenitoreEliminaPrenotazione:hover {
    transform: scale(1.02);
}

#elimina:hover {
    background-color: #ff4500;
    cursor: pointer;
    color: white;
}

#logout:hover {
    color: #ff4500;
    cursor: pointer;
}

li:hover {
    color: white;
    cursor: pointer;
}

a:hover {
    color: white;
}